.checkOutContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
.containerCenter {
  display: flex;
}
.checkOutTitles {
  display: flex;
  justify-content: space-around;
  margin: 34px 0;
}
.checkOutDescription {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #000;
}
.imageCheckOut {
  width: 9rem;
  height: 9rem;
}
.detailContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 27rem;
}
.detailFontSize {
  font-size: 1.5rem;
}
.checkOutContainer a {
  text-decoration: none;
  color: #000;
}
.notFoundCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  gap: 3rem;
}
.checkoutList {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  height: 673px;
}
.formContentOrder {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  margin: 1% auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 17);
}
/*Mobile*/
@media only screen and (max-width: 576px) {
  .detailContainer {
    flex-direction: column;
  }
  .checkOutDescription {
    flex-direction: column;
  }
  .containerCenter {
    flex-direction: row;
  }
}
/*Tablet*/
@media only screen and (min-width: 577px) and (max-width: 960px) {
}
/*Desktop*/
@media only screen and (min-width: 961px) {
  .checkOutDescription {
    justify-content: space-around;
  }
}
