.TitleDescription {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.PriceDescription {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.BuyContainer {
  display: flex;
  align-items: center;
}
.ItemCount {
  margin: 0 2rem 0 0;
}
.BuyCard {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.BuyButton {
  color: #fff;
  background-color: #f26250;
  padding: 1em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}
.BuyButton:hover {
  color: #f26250;
  background-color: #fff;
}
.alignContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
/*Mobile*/
@media only screen and (max-width: 576px) {
  .TitleDescription {
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  .BuyCard {
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }
}
/*Tablet*/
@media only screen and (min-width: 577px) and (max-width: 960px) {
}
/*Desktop*/
@media only screen and (min-width: 961px) {
}
