.ItemListContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-direction: row;
  width: 100%;
}
/*Mobile*/
@media only screen and (max-width: 576px) {
  .ItemListContainer {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    height: 773px;
    scroll-padding: 25px;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
  }
}
/*Tablet*/
@media only screen and (min-width: 577px) and (max-width: 960px) {
  .ItemListContainer {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    height: 773px;
    scroll-padding: 25px;
    column-gap: 10px;
  }
}
/*Desktop*/
@media only screen and (min-width: 961px) {
}
