.ItemImageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.ItemImageMin {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 0 10px;
}
.ImageDetailMin {
  width: 10vh;
  margin: 20px;
}
.ImageDetail {
  width: 40rem;
}

/*Mobile*/
@media only screen and (max-width: 576px) {
  .ItemImageMin {
    display: none;
  }
  .ImageDetail {
    width: 15rem;
  }
}
/*Tablet*/
@media only screen and (min-width: 577px) and (max-width: 960px) {
  .ImageDetail {
    width: 15rem;
  }
}
/*Desktop*/
@media only screen and (min-width: 961px) {
}
