.ItemCount {
  display: flex;
  align-content: center;
  justify-content: center;
}
.btn {
  width: 40px;
  height: 40px;
}
.h2Contador {
  text-align: center;
  width: 40px;
  height: 40px;
}
.btnRemove:disabled {
  background-color: #cccccc;
  color: #666666;
}
